
@{
    ViewBag.Title = "DeleteHandler";
}

<h2>Delete Handler</h2>
<body>
    @if (ViewBag != null && ViewBag.handler != null)
    {
        <p>Are you sure you want to delete this handler @ViewBag.handler?</p>
    }
    else
    {
        <p>Are you sure you want to delete this handler: ?</p>
    }

    <br>
    <br />
    <button id="btnYes" onclick="removeHandler()">Yes</button>
    <button id="btnNo" onclick="returnToConfig()">No</button>
    <script>
        function returnToConfig() {
            window.history.back();
        }
    </script>
    <script>
        function removeHandler() {
            document.getElementById("btnYes").disabled = true;
            document.getElementById("btnNo").disabled = true; 
            var input = {};
            $.post("@Url.Action("RemoveHandler")", input, function (answer) {
                if (answer) {
                    alert("removed handler");
                } else { alert("could not remove handler"); }
            });
             window.history.back();
        }
    </script>
</body>
