@model IEnumerable<WebApplication2.Models.LogsModel>
@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>
<select id="logsOptions" onchange="getRelevantLogs()">
    <option disabled="disabled" selected="selected">Select an option.</option>
    <option>INFO</option>
    <option>FAIL</option>
    <option>WARNING</option>
    <option>ALL</option>
</select>
<br />
<div>
<ul id="lstProducts"></ul>
</div>
<script>
    function getRelevantLogs() {
        document.getElementById("lstProducts").innerHTML = "";
        var e = document.getElementById("logsOptions");
        var strUser = e.options[e.selectedIndex].text;
        var i;
        for (i = 0; i <@Model.ElementAt(0).Logs.Count; ++i) {
            var input = {
                selection: strUser,
                index: i
            };
            $.post("@Url.Action("GetRelevantLogs")", input, function (data) {
                if (data != null) {
                    $("#lstProducts").append("<li>" + data.Message + " " + data.Type + "</li>");
                }
            }, "json");
        }
    }
</script>
