@model IEnumerable<WebApplication2.Models.LogsModel>
@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>
<table border="1">

    <tr>
        <td>Message</td>
        <td>Type</td>
    </tr>
    @if (Model.ElementAt(0) != null)
    {
        foreach (var log in Model.ElementAt(0).Logs)
        {
            if (log != null)
            {
            <tr>
                <td>@log.Message</td>
                <td>@log.Type</td>
            </tr>
            }
        }
    }
</table>
