@model IEnumerable<WebApplication2.Models.PhotosModel>
@{
    ViewBag.Title = "Photos";
}
<h2>Photos</h2>
<div class="container" id="tourpackages-carousel">

    <div class="row">
        @if (Model != null && Model.ElementAt(0) != null && Model.ElementAt(0).Thumbnails != null)
    {
        for (int index = 0; index < Model.ElementAt(0).Thumbnails.Count; ++index)
        {
            
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="@Model.ElementAt(0).Thumbnails.ElementAt(index).Path" class="img-circle" alt="thumbnail photo">
                    <div class="caption">
                        <h4>@Model.ElementAt(0).Thumbnails.ElementAt(index).NameWithoutExt</h4>
                        <p> Date Taken: @Model.ElementAt(0).Thumbnails.ElementAt(index).Month , @Model.ElementAt(0).Thumbnails.ElementAt(index).Year</p>
                        <p><a href="#" class="btn btn-info btn-xs" role="button" id="viewBtn">View</a> <a href="#" class="btn btn-default btn-xs" role="button" id="deleteBtn">Delete</a></p>
                    </div>
                </div>
            </div>
    }
}
    </div>

</div>
