@model IEnumerable<WebApplication2.Models.PhotosModel>
@{
    ViewBag.Title = "Photos";
}
<h2>Photos</h2>
@if (Model != null && Model.ElementAt(0) != null && Model.ElementAt(0).Thumbnails != null)
{
    for(int index = 0; index < Model.ElementAt(0).Thumbnails.Count; ++index)
    {
    <img src="@Model.ElementAt(0).Thumbnails.ElementAt(index).Path" class="img-circle" alt="thumbnail photo">
    }
}
